.navlink {
  margin: 0 10px;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
}

li {
  padding: 10px;
  margin: 0 15px;
  border: 1px solid black;
}

img {
  height: 150px;
  width: inherit;
}

.duration {
  font-style: italic;
}
